:root {
    --color-primary: #917758;
    --color-secundary: #3c2915;
    --color-primary-light: #f5eee6

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto
}

/**************
*     HOME    *
**************/

.home {
    position: relative;
    background-size: cover;
    height: 100vh;
    background-image: url(../images/bg-home.jpg);
    background-attachment: fixed;
}

.home .header {
    padding: 30px 0px
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.home .header .logo {
    margin: 0px 30px;
}

/*********************
*     HOME  BANNER   *
*********************/

.home .banner {
    color: white;
    text-align: center;
    justify-content: center;
    position: absolute;
    /* background-color: rebeccapurple; */
    top: 50%;
    left: 50%;
    width: 757px;
    height: 260px;
    margin-top: -110px;
    margin-left: -377px;
}

.home .banner h1 {
    font-size: 120px;
    
}

.home .banner .slogan1 {
    display: block;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
}

.home .banner .slogan2 {
    display: block;
    color: white;
    margin-bottom: 15px;
}

/************
*   ABOUT   
*************/

.about {
    background-color: var(--color-primary);
}

.about .container {
    display: flex;
}

.about .timing {
    position: relative;
    top: -50px;
    width: 33%;
    padding: 20px;
    background-image: url(../images/brush-big.jpg);
}

.about .experience {
    width: 66%;
}

.about .timing .overlay {
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

}

.about .timing .overlay .icon-cut {
    width: 50px;
}

.about .timing .overlay > h3 {
    color: var(--color-primary);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-primary);
    width: fit-content;
    margin: 0 auto;
    font-size: 30px;
}

.about .timing .text {
    margin: 10px 0px
}

.about .timing .text:after {
    content: "•";
    display: block;
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

.about .timing .text:last-of-type::after {
    content: "|";
    display: block;
}

.about .timing .overlay .text h4 {
    font-size: 14px;
    color: grey;
    font-weight: 400;
    
}

.about .timing .overlay span {
    color: white;
    font-size: 14px
}

.about .experience {
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 100px;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
}

.about .experience h2::after {
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: #a38f78;
    margin: 20px 0px;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;
}

.about .experience .text p {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 16px;
}


/************
*   SERVICES   
*************/

.services {
    padding: 100px;
    text-align: center;
    background-color: var(--color-primary-light);
}

.services h2 {
    color: var(--color-secundary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.services .boxes .container 
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.services .box {
    border: 3px solid var(--color-primary);
    padding: 50px 40px;
    margin: 30px;

}

.services .box h4 {
    color: vaR(--color-secundary);
    margin-top: 30px;
}

.services .box p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
}

/****************
*   APPOINTMENT   
*****************/

.appointment {
    padding: 100px 0px;
    background-color: var(--color-primary);
    height: 100vh;
    background-image: url(../images/chair-ic.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
}

.appointment h2 {
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.appointment img {
    margin: 0 auto;
    display: block;
}

.appointment form {
    margin-top: 80px;
}

.appointment .personal-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.appointment label {
    display: block;
    color: var(--color-primary-light);
    margin-bottom: 2px;
    font-size: 14px;
}

.appointment .input-wrapper {
    width: 100%;
    margin-right: 50px;
}

.appointment .input-wrapper:last-child{
    margin-right: 0px;
}

.appointment .personal-data input,
.appointment .personal-data select,
.appointment  textarea {
    padding: 10px 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 3px;
}

.appointment textarea {
    height: 100px;
}

.appointment button {
    background-color: var(--color-secundary);
    color: white;
    padding: 15px 40px;
    margin-top: 10px;
    border: 0px;
    text-transform: uppercase;
    font-weight: bold;
}


/****************
*   GALLERY   
*****************/

.gallery {
    padding: 100px 0px;
    background-color: var(--color-primary-light);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
}

.gallery h2 {
    color: var(--color-secundary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.gallery img {
    margin: 0 auto;
    display: block;
}

.gallery .gallery-wrapper {
    margin: 50px auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    flex-direction: column;
}

.gallery .gallery-wrapper div {
    border: 10px solid var(--color-primary);
    margin: 6px;
    width: 33%;
}

.gallery .gallery-wrapper div img {
    width: 100%;
}

/****************
*   LOCATION   
*****************/

.location {
    padding: 100px 0px;
    background-image: url(../images/bg-location.jpg);
    background-size: cover;
}

.location .head {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    padding: 40px;
    width: 100%;
}

.location .head .info {
    display: flex;
    align-items: center;
}

.location .head .info .icone {
    margin-right: 15px;
    border: 1px solid var(--color-primary);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.location .head .info .text span {
    display: block;
    font-size: 13px;

}

.location .head .info .text span:first-child {
    color: silver;
}

.location .head .info .text span:last-child {
    color: white;
}

.location .map {
    width: 100%;
}

.location .map iframe {
    width: 100%;
}


/****************
*   footer   
*****************/

footer {
    background-color: #191919;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 12px;
}